
<main class="flex flex-col md:flex-row-reverse h-full w-full justify-center items-center mt-8 px-10 md:px-20 gap-8">
        <div class="w-full h-full flex justify-center">
            <img class="w-65 h-65 md:h-full lg:w-90 lg:h-80 rounded-lg" src="/profile.png" alt="">
        </div>

        <div class="w-full h-full flex flex-col gap-3">
            <h3 class="martel-bold text-center md:text-start  lg:text-2xl">
                Alexander - Professional Photographer with an Artistic Touch
            </h3>
            <p class="text-xs text-center md:text-start lg:text-sm martel-light">
                With over 10 years of experience in photography, Alexander has captured unforgettable moments with unmatched skill and passion. From personal photoshoots to large commercial projects, he has the ability to capture the essence of every story through the lens.Each photo he takes is not just an image, but a piece of art full of meaning, telling a unique story from an unconventional perspective. With a professional approach and attention to detail, Alexander ensures every client feels special and satisfied with the results.Looking for a photographer for your special moments or creative projects? Alexander is ready to bring your vision to life in every frame.
            </p>
            <button class="btn btn-outline martel-bold md:mt-6">
                Let's Collaborate
            </button>
        </div>
</main>