
<main class="max-h-screen relative">
	<div class="relative">
        <img class="max-h-screen w-screen" src="/herobg.png" alt="">
    </div>
    <div class="absolute w-full h-full bg-black/30 inset-0" />

    <div class="absolute inset-0 w-full h-full flex flex-col justify-center items-center gap-2 md:gap-4">
        <h1 class="text-2xl md:text-6xl text-white font-bold martel-bold">Alexander</h1>
        <h2 class="text-white text-sm md:text-xl martel-regular mx-10 md:mx-100 text-center">capture every beautiful moment with full precision and beauty</h2>
        <button class="text-[10px] md:text-sm text-white martel-regular btn btn-outline hover:text-black mt-5 md:mt-20 md:w-70 h-7 md:h-12">Explore My Snaps</button>
    </div>
</main>